@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  text-decoration: none;
}

/* 

NAV BAR 

*/

.NavOne {
  width: 100%;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(6, 17, 97, 0.608);
  z-index: 1000000;
}

.nav__container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 12px 18px;
  z-index: 1000000;
}

.nav__logo {
  width: 150px;
  height: 50px;
  z-index: 1000000;
}

.nav__logo img {
  width: 100%;
  height: 100%;
}

.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
    z-index: 1000000;
}

.nav__middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    z-index: 1000000;
}

.nav__top--right {
  display: flex;
}

.top__right--item {
  list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    cursor: not-allowed;
}

.top__right--item:first-child {
  margin-right: 24px;
}

.nav__middle--title {
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 4px;
  color: #fff;
  margin-bottom: 20px;
}

.nav__search--bar {
  background-color: white;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 525px;
  height: 50px;
}

.search__input {
  font-size: 24px;
  border: none;
  width: 100%;
  padding: 8px 0;
  margin: 0 8px 0 24px;
  color: rgb(16, 16, 221);
}

.search__btn {
  border: none;
  background: none;
}

.fa-magnifying-glass {
  margin: 0 12px;
  font-size: 24px;
  color: rgb(8, 8, 85);
  transition: all 300ms ease;
  cursor: pointer;
}

.fa-magnifying-glass:hover {
  color: rgb(56, 149, 255);
  transform: scale(1.1);
}

.fa-magnifying-glass:active {
  color: rgb(21, 53, 89);
  transform: scale(0.8);
}
.nav__search--bar-2 {
  background-color: white;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 40px;
}

.search__input-2 {
  font-size: 18px;
  border: none;
  width: 100%;
  padding: 8px 0;
  margin: 0 8px 0 24px;
  color: rgb(16, 16, 221);
}

.search__btn-2 {
  border: none;
  background: none;
}

.fa-magnifying-glass-2 {
  margin: 0 12px;
  font-size: 24px;
  color: rgb(8, 8, 85);
  transition: all 300ms ease;
  cursor: pointer;
}

.fa-magnifying-glass-2:hover {
  color: rgb(56, 149, 255);
  transform: scale(1.1);
}

.fa-magnifying-glass-2:active {
  color: rgb(21, 53, 89);
  transform: scale(0.8);
}


.search__input-2:focus {
  outline: none;
  box-shadow: none;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    background-color: white;
    bottom: -3px;
    height: 3px;
    width: 0%;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.background__nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.background__color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(6, 17, 97, 0.608);
  z-index: 1;
}

.NavTwo {
  background-color: blue;
  height: 80px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000000;
}

.home__btn {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
}

.home__btn:hover {
  transform: scale(1.1);
}

.home__btn:active {
  opacity: 80%;
  transform: scale(0.8);
}

@media(max-width: 1040px) {
  .nav__container {
    max-width: 800px;
  }
  .nav__search--bar-2 {
    width: 500px
  }
}

@media(max-width: 840px) {
  .nav__middle--title {
    font-size: 32px;
  }
  .nav__search--bar {
    width: 400px;
  }
  .nav__top {
    margin-bottom: 64px;
  }
}

@media(max-width: 768px) {
  .nav__search--bar-2 {
    width: 400px
  }
}

@media(max-width: 660px) {
  .nav__search--bar-2 {
    width: 300px
  }
}

@media(max-width: 560px) {
  .nav__search--bar-2 {
    width: 200px
  }
}

/* 

HOME

*/

.Home {
    background: linear-gradient(rgb(245, 245, 245), rgb(220, 220, 220));
    height: 100vh;
    overflow: hidden;
}

.home__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  height: 100%;
  overflow: hidden;
}

.home__description h1 {
  font-size: 36px;
    font-weight: lighter;
    color: #2e3fbf;
    margin-bottom: 48px;
    text-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
}

.home__description--icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__description--icon {
  width: 175px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: linear-gradient(to bottom, #1452b8 0%, #1f6fd6 50%, #4b90ee 100%);
  text-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  transition: all 300ms ease;
}

.home__description--icon:hover {
  transform: scale(1.1);
}

.home__description--icon:active {
  transform: scale(0.8);
}

.home__description--icon:not(:nth-child(5)) {
  margin-right: 24px;
}

.icon__img {
  width: 100%;
}

.icon-1 {
  display: none;
}

@media (max-width: 1024px) {
  .home__description--icon {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 906px) {
  .home__description--icon {
  width: 150px;
  height: 150px;
  }
}
@media (max-width: 886px) {
  .home__description--icon {
  width: 125px;
  height: 125px;
  }
}
@media (max-width: 746px) {
  .home__description--icon {
  width: 135px;
  height: 135px;
  }
  .icon-1 {
  display: block;
}

.icon-2 {
  margin-right: 24px !important;
}
.home__description--icon:not(:nth-child(5)) {
  margin-right: 0px;
}

.home__description--icon:nth-child(1),
.home__description--icon:nth-child(2),
.home__description--icon:nth-child(3) {
  margin-bottom: 12px;
}

.home__description--icons {
  max-width: 498px;
  width: 100%;
  flex-wrap: wrap;
}

.home__description h1 {
  font-size: 24px;
  margin-bottom: 12px;
}
.home__description {
  margin-top: 165px;

}
}

/* 

INFO

*/

.info__container {
  height: 100%;
  margin-top: 80px;
  padding: 22px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  width: 960px;
  margin-bottom: 12px;
}

.info__search {
  font-size: 24px;
}

.search__temp--change {
  display: flex;
  background-color: silver;
  border-radius: 8px;
  z-index: 0;
  width: 80px;
  position: relative;
}

.temp__change--slider {
  position: absolute;
  left: 0;
  background: linear-gradient(to bottom, #1e1f7a 0%, #2e3fbf 50%, #6c7dff 100%);
  z-index: 2;
  height: 100%;
  width: 42px;
  border-radius: 8px;
  transition: all 300ms ease;
}

.search__temp--change.c-active .temp__change--slider {
  transform: translateX(0);
}

.search__temp--change.f-active .temp__change--slider {
  transform: translateX(100%);
}

.btn__temp-f,
.btn__temp-c {
  font-size: 28px;
  background-color: transparent;
  border: transparent;
  padding: 0 6px;
  color: white;
  z-index: 3;
}


.btn__one {
  margin-right: 6px;
}

.info__data {
  padding: 8px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 960px;
}



.info__current,
.info__air-quality {
  width: 450px;
  height: 250px;
  background: linear-gradient(to bottom, #1e6fff 0%, #3388ff 50%, #66a8ff 100%);
  border-radius: 18px;
  margin-bottom: 24px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}

.info__current,
.info__forecast {
  margin-right: 24px;
}

.info__alerts {
  background: linear-gradient(to bottom, #900d06 0%, #df2117 50%, #ff9a8c 100%);
  width: 100%;
  height: 50px;
  border-radius: 18px;
  margin-bottom: 24px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}

.info__forecast {
  height: 250px;
  width: 550px;
background: linear-gradient(to bottom, #e68c1a 0%, #f5a333 50%, #ffd180 100%);
  border-radius: 18px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}

.info__riseset {
  width: 350px;
  height: 250px;
    background: linear-gradient(to bottom, #1e6fff 0%, #3388ff 50%, #66a8ff 100%);
    border-radius: 18px;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}

.info__current {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 300ms ease;
  cursor: pointer;
  position: relative;
}

.info__current--top {
  display: flex;
  padding-bottom: 12px;
  position: relative;
}

.current__img {
  margin-right: 24px;
  width: 150px;
  height: 150px;
}

.current__img--img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.current__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current__ammount {
  color: #fff;
  font-size: 84px;
  font-weight: 350;
}

.info__current:hover {
  transform: scale(1.05);
}

.info__current:active {
  transform: scale(0.85);
}

.current__feel {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
}

.current__bottom {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.current__bottom:first-child {
  margin-right: 12px;
}

.info__current--bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.see__more {
  position: absolute;
  bottom: 6px;
  display: none;
}

.info__current--top::after {
  position: absolute;
  content: " ";
  width: 80%;
  height: 1px;
  background-color: #ffff;
  bottom: 4px;
}

.arrow__more {
  color: #fff;
  animation: scalePulse 0.5s ease-in-out infinite alternate;
}

@keyframes scalePulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.1);
  }
}

@media (max-width: 1040px) {
  .info__current,
.info__air-quality {
  width: 350px;
}
.info__forecast {
  width: 450px;
}
.info__riseset {
  width: 250px;
}

.info__data,
.info__top {
  width: 760px;
}

.current__bottom {
  font-size: 20px;
}

.current__ammount {
  font-size: 72px;
}
.current__img {
  margin-right: 14px;
}
}

@media (max-width: 795px) {
  .info__current,
.info__air-quality {
  width: 300px;
  height: 200px;
}
.info__forecast {
  width: 400px;
  height: 200px;
}
.info__riseset {
  width: 200px;
  height: 200px;
}

.info__data,
.info__top {
  width: 660px;
}
.info__top {
  margin-bottom: 36px;
}
.current__ammount {
  font-size: 56px;
}

.current__img {
  height: 100px;
  width: 100px;
}
.current__bottom {
  font-size: 18px;
}
}

@media (max-width: 660px) {
  .info__data,
  .info__top {
  width: 510px;
}
.info__current,
.info__air-quality {
  width: 460px;
  height: 250px;
  margin-right: 0px;
  cursor: unset;
}
.info__forecast {
  width: 460px;
  height: 250px;
  margin-right: 0px;
  margin-bottom: 24px;
  cursor: none;
}
.info__riseset {
  width: 460px;
  height: 250px;
}
.info__top {
  margin-bottom: 12px;
}
.see__more {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.see__text {
  transition: all 300ms ease;
}

.see__more:hover,
.see__more:hover {
  opacity: 0.9;
  transform: scale(1.05);
  cursor: pointer;
}

.see__more:active,
.see__more:active {
opacity: 0.8;
  transform: scale(0.8);
}
.see__text {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.info__current:hover,
.info__current:active {
  transform: unset;
}
.current__ammount {
  font-size: 86px;
}
.current__img {
  height: 150px;
  width: 150px;
}

.info__current--top {
  margin-bottom: 0px;
}
.info__current--bottom {
  margin-bottom: 12px;
}
.current__bottom {
  font-size: 24px;
}
}