@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  text-decoration: none;
}

/* 

NAV BAR 

*/

.NavOne {
  width: 100%;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(6, 17, 97, 0.608);
  z-index: 1000000;
}

.nav__container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 12px 18px;
  z-index: 1000000;
}

.nav__logo {
  width: 150px;
  height: 50px;
  z-index: 1000000;
}

.nav__logo img {
  width: 100%;
  height: 100%;
}

.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
    z-index: 1000000;
}

.nav__middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    z-index: 1000000;
}

.nav__top--right {
  display: flex;
}

.top__right--item {
  list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    cursor: not-allowed;
}

.top__right--item:first-child {
  margin-right: 24px;
}

.nav__middle--title {
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 4px;
  color: #fff;
  margin-bottom: 20px;
}

.nav__search--bar {
  background-color: white;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 525px;
  height: 50px;
}

.search__input {
  font-size: 24px;
  border: none;
  width: 100%;
  padding: 8px 0;
  margin: 0 8px 0 24px;
  color: rgb(16, 16, 221);
}

.search__btn {
  border: none;
  background: none;
}

.fa-magnifying-glass {
  margin: 0 12px;
  font-size: 24px;
  color: rgb(8, 8, 85);
  transition: all 300ms ease;
  cursor: pointer;
}

.fa-magnifying-glass:hover {
  color: rgb(56, 149, 255);
  transform: scale(1.1);
}

.fa-magnifying-glass:active {
  color: rgb(21, 53, 89);
  transform: scale(0.8);
}


.search__input:focus {
  outline: none;
  box-shadow: none;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    background-color: white;
    bottom: -3px;
    height: 3px;
    width: 0%;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.background__nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.background__color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(6, 17, 97, 0.608);
  z-index: 1;
}

@media(max-width: 1040px) {
  .nav__container {
    max-width: 800px;
  }
}

@media(max-width: 840px) {
  .nav__middle--title {
    font-size: 32px;
  }
  .nav__search--bar {
    width: 400px;
  }
  .nav__top {
    margin-bottom: 64px;
  }
}