@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  text-decoration: none;
}

/* 

NAV BAR 

*/

.NavOne {
  width: 100%;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(6, 17, 97, 0.608);
  z-index: 1000000;
}

.nav__container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 12px 18px;
  z-index: 1000000;
}

.nav__logo {
  width: 150px;
  height: 50px;
  z-index: 1000000;
}

.nav__logo img {
  width: 100%;
  height: 100%;
}

.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  z-index: 1000000;
}

.nav__middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
}

.nav__top--right {
  display: flex;
}

.top__right--item {
  list-style-type: none;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  cursor: not-allowed;
}

.top__right--item:first-child {
  margin-right: 24px;
}

.nav__middle--title {
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 4px;
  color: #fff;
  margin-bottom: 20px;
}

.nav__search--bar {
  background-color: white;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 525px;
  height: 50px;
}

.search__input {
  font-size: 24px;
  border: none;
  width: 100%;
  padding: 8px 0;
  margin: 0 8px 0 24px;
  color: rgb(16, 16, 221);
}

.search__btn {
  border: none;
  background: none;
}

.fa-magnifying-glass {
  margin: 0 12px;
  font-size: 24px;
  color: rgb(8, 8, 85);
  transition: all 300ms ease;
  cursor: pointer;
}

.fa-magnifying-glass:hover {
  color: rgb(56, 149, 255);
  transform: scale(1.1);
}

.fa-magnifying-glass:active {
  color: rgb(21, 53, 89);
  transform: scale(0.8);
}
.nav__search--bar-2 {
  background-color: white;
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 40px;
}

.search__input-2 {
  font-size: 18px;
  border: none;
  width: 100%;
  padding: 8px 0;
  margin: 0 8px 0 24px;
  color: rgb(16, 16, 221);
}

.search__btn-2 {
  border: none;
  background: none;
}

.fa-magnifying-glass-2 {
  margin: 0 12px;
  font-size: 24px;
  color: rgb(8, 8, 85);
  transition: all 300ms ease;
  cursor: pointer;
}

.fa-magnifying-glass-2:hover {
  color: rgb(56, 149, 255);
  transform: scale(1.1);
}

.fa-magnifying-glass-2:active {
  color: rgb(21, 53, 89);
  transform: scale(0.8);
}

.search__input-2:focus {
  outline: none;
  box-shadow: none;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  background-color: white;
  bottom: -3px;
  height: 3px;
  width: 0%;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.background__nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.background__color {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(6, 17, 97, 0.608);
  z-index: 1;
}

.NavTwo {
  background-color: blue;
  height: 80px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000000;
}

.home__btn {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
}

.home__btn:hover {
  transform: scale(1.1);
}

.home__btn:active {
  opacity: 80%;
  transform: scale(0.8);
}

@media (max-width: 1040px) {
  .nav__container {
    max-width: 800px;
  }
  .nav__search--bar-2 {
    width: 500px;
  }
}

@media (max-width: 840px) {
  .nav__middle--title {
    font-size: 32px;
  }
  .nav__search--bar {
    width: 400px;
  }
  .nav__top {
    margin-bottom: 64px;
  }
}

@media (max-width: 768px) {
  .nav__search--bar-2 {
    width: 400px;
  }
}

@media (max-width: 660px) {
  .nav__search--bar-2 {
    width: 300px;
  }
}

@media (max-width: 560px) {
  .nav__search--bar-2 {
    width: 200px;
  }
}

/* 

HOME

*/

.Home {
  background: linear-gradient(rgb(245, 245, 245), rgb(220, 220, 220));
  height: 100vh;
  overflow: hidden;
}

.home__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  height: 100%;
  overflow: hidden;
}

.home__description h1 {
  font-size: 36px;
  font-weight: lighter;
  color: #2e3fbf;
  margin-bottom: 48px;
  text-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
}

.home__error--figure {
  width: 250px;
  height: 250px;
}

.error__title {
  color: #242424 !important;
  font-weight: 700 !important;
  font-size: 28px !important;
  margin-bottom: 0px !important;
}

.home__error--figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home__description--icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__description--icon {
  width: 175px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: linear-gradient(to bottom, #1452b8 0%, #1f6fd6 50%, #4b90ee 100%);
  text-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  transition: all 300ms ease;
}

.spinner-rotate {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home__description--icon:hover {
  transform: scale(1.1);
}

.home__description--icon:active {
  transform: scale(0.8);
}

.home__description--icon:not(:nth-child(5)) {
  margin-right: 24px;
}

.icon__img {
  width: 100%;
}

.icon-1 {
  display: none;
}

@media (max-width: 1024px) {
  .home__description--icon {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 906px) {
  .home__description--icon {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 886px) {
  .home__description--icon {
    width: 125px;
    height: 125px;
  }
}
@media (max-width: 746px) {
  .home__description--icon {
    width: 135px;
    height: 135px;
  }
  .icon-1 {
    display: block;
  }

  .icon-2 {
    margin-right: 24px !important;
  }
  .home__description--icon:not(:nth-child(5)) {
    margin-right: 0px;
  }

  .home__description--icon:nth-child(1),
  .home__description--icon:nth-child(2),
  .home__description--icon:nth-child(3) {
    margin-bottom: 12px;
  }

  .home__description--icons {
    max-width: 498px;
    width: 100%;
    flex-wrap: wrap;
  }

  .home__description h1 {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .home__description {
    margin-top: 165px;
  }
}

/* 

INFO

*/

.info__container {
  height: 100%;
  margin-top: 80px;
  padding: 22px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  width: 960px;
  margin-bottom: 12px;
  padding: 0 8px;
}

.info__search {
  font-size: 24px;
  margin-right: 12px;
  transition: all 300ms ease;
}
.info__search1 {
  font-size: 24px;
  margin-right: 12px;
  cursor: pointer;
  transition: all 300ms ease;
}

.info__search1:hover {
  transform: scale(1.05);
}
.info__search1:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.info__top--left {
  font-size: 12px;
}

.search__temp--change {
  display: flex;
  background-color: silver;
  border-radius: 8px;
  z-index: 0;
  width: 80px;
  position: relative;
}

.temp__change--slider {
  position: absolute;
  left: 0;
  background: linear-gradient(to bottom, #1e1f7a 0%, #2e3fbf 50%, #6c7dff 100%);
  z-index: 2;
  height: 100%;
  width: 42px;
  border-radius: 8px;
  transition: all 300ms ease;
}

.search__temp--change.c-active .temp__change--slider {
  transform: translateX(0);
}

.search__temp--change.f-active .temp__change--slider {
  transform: translateX(100%);
}

.btn__temp-f,
.btn__temp-c {
  font-size: 28px;
  background-color: transparent;
  border: transparent;
  padding: 0 6px;
  color: white;
  z-index: 3;
}

.btn__one {
  margin-right: 6px;
}

.info__data {
  padding: 8px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 960px;
}

.info__current,
.info__air-quality {
  width: 450px;
  height: 250px;
  background: linear-gradient(to bottom, #1e6fff 0%, #3388ff 50%, #66a8ff 100%);
  border-radius: 18px;
  margin-bottom: 24px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}

.info__current--loading {
  width: 450px;
  height: 250px;
  border-radius: 18px;
  margin-bottom: 24px;
}

.info__air-quality--loading {
  width: 450px;
  height: 250px;
  border-radius: 18px;
  margin-bottom: 24px;
}

.info__current,
.info__forecast {
  margin-right: 24px;
}

.info__current--loading {
  margin-right: 24px;
}

.info__alerts {
  background: linear-gradient(to bottom, #900d06 0%, #df2117 50%, #ff9a8c 100%);
  width: 100%;
  height: 50px;
  border-radius: 18px;
  margin-bottom: 24px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}

.info__alerts--loading {
  width: 100%;
  height: 50px;
  border-radius: 18px;
  margin-bottom: 24px;
}

.info__forecast {
  height: 250px;
  width: 550px;
  /* background: linear-gradient(to bottom, #ff9933 0%, #ffb366 50%, #ffe0b3 100%); */
  background: linear-gradient(to bottom, #e68c1a 0%, #f5a333 50%, #ffd180 100%);
  border-radius: 18px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.info__forecast--loading {
  height: 250px;
  width: 550px;
  margin-right: 12px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alertsActual {
  overflow: hidden;
  padding: 0px 18px 0px 10px;
}

.alert-ticker {
  overflow: hidden;
  white-space: nowrap;
}

.alert-ticker__inner {
  display: inline-block;
  animation: scroll-alerts 100s linear infinite;
}

.alert-ticker__inner span {
  display: inline-block;
  margin-right: 3rem;
}

.alert-ticker__inner::after {
  content: attr(data-text);
  display: inline-block;
  margin-left: 3rem;
}
.alert-ticker__inner-2 {
  display: inline-block;
  animation: scroll-alerts 100s linear infinite;
}

.alert-ticker__inner-2 span {
  display: inline-block;
  margin-right: 3rem;
}

.alert-ticker__inner-2::after {
  content: attr(data-text);
  display: inline-block;
  margin-left: 3rem;
}

.ticker__color {
  color: #fff;
}

.ticker__size {
  font-size: 18px;
}

@keyframes scroll-alerts {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


.info__riseset {
  position: relative;
  width: 350px;
  height: 250px;
  background: linear-gradient(to bottom, #1e6fff 0%, #3388ff 50%, #66a8ff 100%);
  border-radius: 18px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
  cursor: pointer;
}

.info__riseset--loading {
  width: 350px;
  height: 250px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info__riseset:hover {
  transform: scale(1.05);
}

.info__riseset:active {
  transform: scale(0.8);
}

.riseset__h1 {
  color: orange;
  font-weight: 700;
  font-size: 56px;
}

.riseset__act {
  color: #fff;
  font-size: 60px;
}

.riseset__left {
  font-weight: 700;
  color: white;
  font-size: 36px;
}

.riseset__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast__day:not(:last-child) {
  margin-right: 16px;
}

.info__current {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 300ms ease;
  cursor: pointer;
  position: relative;
}

.info__current--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search__more--hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 300ms ease;
}

.search__more--hover h1{
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  margin-right: 6px;
}

.see--h1 {
  font-size: 26px !important;
}

.see__more--left {
  color: #fff;
  font-size: 28px;
}

.info__current:hover .info__current--top,
.info__current:hover .info__current--bottom {
  filter: blur(8px);
}

.info__current:hover .search__more--hover,
.info__air-quality:hover .search__more--hover,
.info__riseset:hover .search__more--hover,
.forecast__day:hover .search__more--forecast {
  opacity: 100%;
}


.info__air-quality:hover .air__quality--container {
  filter: blur(8px);
}

.info__riseset:hover .riseset__info {
  filter: blur(8px);
}

.forecast__day:hover .forecast__date,
.forecast__day:hover .forecast__high,
.forecast__day:hover .forecast__low,
.forecast__day:hover .forecast__precipitation,
.forecast__day:hover .forecast__humidity,
.forecast__day:hover .forecast__precipitation {
  filter: blur(8px);
}



.info__current--top {
  display: flex;
  margin-bottom: 12px;
  position: relative;
}

.current__img {
  margin-right: 24px;
  width: 150px;
  height: 150px;
}

.current__img--img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.current__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current__ammount {
  color: #fff;
  font-size: 84px;
  font-weight: 350;
}

.info__current:hover {
  transform: scale(1.05);
}

.info__current:active {
  transform: scale(0.85);
}

.current__feel {
  color: #fff;
  font-size: 24px;
  font-weight: 200;
}

.current__bottom {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}

.current__bottom:first-child {
  margin-right: 12px;
}

.info__current--bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.see__more {
  display: none;
  background: linear-gradient(180deg, #fdfdfd 0%, #f2f2f5 100%);
  width: 100px;
  height: 24px;
  border-radius: 10px;
}

.info__current--top::after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 0.5px;
  background-color: #ffff;
  bottom: 1px;
  opacity: 60%;
}

.arrow__more {
  background: linear-gradient(to bottom, #1e6fff 0%, #3388ff 50%, #66a8ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.airquality__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info__air-quality {
  padding: 8px 36px;
  position: relative;
  transition: all 300ms ease;
  cursor: pointer;
}

.info__air-quality--loading {
  padding: 8px 36px;
}

.info__air-quality:hover {
  transform: scale(1.05);
}

.info__air-quality:active {
  transform: scale(0.9)
}

.airquality__title {
  text-align: start;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 12px;
  color: rgb(174, 174, 174);
}

.quality__data--point {
  font-size: 22px;
  color: #fff;
}

.quality__data--point:not(:last-child) {
  margin-bottom: 8px;
}

.search__more--forecast {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: all 300ms ease;
}

.forecast__day {
  position: relative;
  width: 115px;
  height: 200px;
  background: linear-gradient(to bottom, #ff9933 0%, #ffb366 50%, #ffe0b3 100%);
  /* background: linear-gradient(to bottom, #e68c1a 0%, #f5a333 50%, #ffd180 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  transition: all 300ms ease;
  cursor: pointer;
}

.forecast__day:hover {
  transform: scale(1.1);
}

.forecast__day:active {
  transform: scale(0.8);
}

.forecast__date,
.forecast__high,
.forecast__low {
  font-size: 20px;
  color: #fff;
}

.forecast__low {
  margin-bottom: 12px;
}

.forecast__date {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 20px;
}

.forecast__precipitation h1,
.forecast__humidity h1 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.forecast__precipitation,
.forecast__humidity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rainy {
  width: 40px;
}
.humid {
  width: 40px;
}

/* .forecast__day:first-child {
  margin-left: 10px;
} */

.forecast__day--array {
  display: flex;
}

.info__alerts {
  display: flex;
  justify-content: start;
  align-items: center;
}

.info__alerts--loading {
  display: flex;
  justify-content: start;
  align-items: center;
}

.alerts {
  font-size: 24px;
  color: #fff;
  margin-left: 12px;
}

.air__quality--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current__img--1 {
  width: 125px;
  height: 125px;
}

.current__precipitation {
  font-size: 22px;
  color: #fff;
  font-weight: 300;
}

.current-1,
.current-3,
.current-2 {
  width: 290px;
  height: 175px;
  margin-right: 12px;
background: linear-gradient(to bottom, #1452b8 0%, #1f6fd6 50%, #4b90ee 100%);

}

.current-1--loading {
  width: 290px;
  height: 175px;
  margin-right: 12px;
}

.margin-no {
  margin-right: 0px !important;
}

@keyframes scalePulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.05);
  }
}

@media (max-width: 1040px) {
  .riseset__h1 {
    font-size: 48px;
  }
  .riseset__act {
    font-size: 50px;
  }
  .riseset__left {
    font-size: 32px;
  }
  .info__current,
  .info__air-quality {
    width: 350px;
  }

  .info__current--loading {
    width: 350px;
  }

  .info__air-quality--loading {
    width: 350px;
  }

  .info__forecast {
    width: 450px;
  }

  .info__forecast--loading {
    width: 450px;
  }
  
  .info__riseset {
    width: 250px;
  }

  .info__riseset--loading {
    width: 250px;
  }

  .forecast__day {
    width: 90px;
  }

  .info__data,
  .info__top {
    width: 760px;
  }

  .current__bottom {
    font-size: 20px;
  }

  .current__ammount {
    font-size: 72px;
  }
  .current__img {
    margin-right: 8px;
  }
}

@media (max-width: 795px) {
  .info__current,
  .info__air-quality {
    width: 300px;
    height: 200px;
  }
  .info__current--loading{
    width: 300px;
    height: 200px;
  }
  .info__air-quality--loading {
    width: 300px;
    height: 200px;
  }
  .info__forecast {
    width: 400px;
    height: 200px;
  }
  .info__forecast--loading {
    width: 400px;
    height: 200px;
  }
  .info__riseset {
    width: 200px;
    height: 200px;
  }
  .info__riseset--loading{
    width: 200px;
    height: 200px;
  }
  .airquality__title {
    font-size: 36px;
  }

  .quality__data--point {
    font-size: 18px;
  }

  .info__data,
  .info__top {
    width: 660px;
  }
  .info__top {
    margin-bottom: 36px;
  }
  .current__ammount {
    font-size: 56px;
  }

  .current__img {
    height: 100px;
    width: 100px;
  }
  .current__bottom {
    font-size: 18px;
  }
  .info__current--top {
    padding-bottom: 8px;
  }
  .forecast__day:last-child {
    display: none;
  }
  .forecast__day:nth-child(4) {
    margin-right: 0px;
  }

  .forecast__day {
    width: 105px;
    height: 175px;
  }
  .forecast__date {
    margin-bottom: 6px;
  }
  .forecast__day:not(:last-child) {
    margin-right: 8px;
  }
  .riseset__h1 {
    font-size: 42px;
  }
  .riseset__act {
    font-size: 42px;
  }
  .riseset__left {
    font-size: 28px;
  }
}

@media (max-width: 660px) {
  .info__data,
  .info__top {
    width: 510px;
  }
  .info__current,
  .info__air-quality {
    width: 460px;
    height: 250px;
    margin-right: 0px;
    cursor: unset;
  }

  .info__air-quality--loading,
  .info__current--loading {
    width: 460px;
    height: 250px;
    margin-right: 0px;
  }
  .info__forecast {
    width: 460px;
    height: 250px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .info__forecast--loading {
    width: 460px;
    height: 250px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .info__riseset {
    width: 460px;
    height: 250px;
    cursor: unset;
  }

  .info__riseset--loading{
    width: 460px;
    height: 250px;
  }
  .info__top {
    margin-bottom: 12px;
  }
  .see__more {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
  }

  .see__text {
    transition: all 300ms ease;
  }

  .see__more:hover,
  .see__more:hover {
    opacity: 0.9;
    transform: scale(1.05);
    cursor: pointer;
  }

  .info__air-quality:hover,
  .info__air-quality:active {
    transform: unset;
  }

  .see__more:active,
  .see__more:active {
    opacity: 0.8;
    transform: scale(0.8);
  }
  .see__text {
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(
      to bottom,
      #1e6fff 0%,
      #3388ff 50%,
      #66a8ff 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .info__current:hover,
  .info__current:active {
    transform: unset;
  }
  .current__ammount {
    font-size: 86px;
  }
  .current__img {
    height: 150px;
    width: 150px;
  }

  .info__current--bottom {
    margin-bottom: 12px;
  }
  .current__bottom {
    font-size: 24px;
  }
  .airquality__title {
    font-size: 48px;
  }
  .quality__data--point {
    font-size: 22px;
  }
  .quality__data--point:not(:last-child) {
    margin-bottom: 22px;
  }
  .forecast__day:last-child {
    display: flex;
  }
  .forecast__day {
    width: 100px;
    height: 195px;
    cursor: unset;
    margin-bottom: 12px;
  }
  .forecast__day:not(:last-child) {
    margin-right: 12px;
  }

  .forecast__day:hover {
    transform: unset;
  }
  .forecast__day:first-child {
    margin-left: 0px;
  }
  .info__riseset:hover {
    transform: unset;
  }
  .riseset__h1 {
    font-size: 64px;
  }
  .riseset__act {
    font-size: 66px;
  }
  .riseset__left {
    font-size: 36px;
    margin-bottom: 12px;
  }
  .airquality__info {
    margin-bottom: 12px;
  }
  .info__current:hover .info__current--top,
.info__current:hover .info__current--bottom {
  filter: blur(0px);
}

.info__current:hover .search__more--hover,
.info__air-quality:hover .search__more--hover,
.info__riseset:hover .search__more--hover,
.forecast__day:hover .search__more--forecast {
  opacity: 0%;
}


.info__air-quality:hover .air__quality--container {
  filter: blur(0px);
}

.info__riseset:hover .riseset__info {
  filter: blur(0px);
}

.forecast__day:hover .forecast__date,
.forecast__day:hover .forecast__high,
.forecast__day:hover .forecast__low,
.forecast__day:hover .forecast__precipitation,
.forecast__day:hover .forecast__humidity,
.forecast__day:hover .forecast__precipitation {
  filter: blur(0px);
}

}

/* 

CURRENT

*/

.current__top {
  display: flex;
  margin-bottom: 24px;
}

.current-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: all 300ms ease;
}

.current-1--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.current-1:hover{
  transform: scale(1.05);
}

.current-1:active {
  transform: scale(0.8);
}

.current__temp {
  font-size: 56px;
  color: #fff;
  font-weight: 400;
}

.current__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-3 {
  display: flex;
  background-color: grey;
  border-radius: 12px;
}

.current__temp--text {
  font-size: 22px;
  color: #fff;
  font-weight: 300;
}

.current__middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: grey;
  border-radius: 12px;
}

.current__text-1 {
  font-size: 28px;
  color: #fff;
  font-weight: 400;
}
.current__text-12 {
  font-size: 64px;
  color: #fff;
  font-weight: 400;
}

.info__top--left {
  display: flex;
  justify-content: start;
  align-items: center;
}

.current__text-1:not(:last-child) {
  margin-bottom: 4px;
}

.current__precipitation--data {
  font-size: 56px;
  color: #fff;
  font-weight: 400;
}



.current__more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.current__prehum--descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1040px) {
  .current-1 {
    width: 225px;
  height: 175px;
  }
  .current-1--loading {
    width: 225px;
    height: 175px;
  }
  .current__img--1 {
    width: 100px;
    height: 100px;
  }
  .current__temp--text,
  .current__precipitation {
    font-size: 18px;
  }
  .current__temp,
  .current__precipitation--data {
    font-size: 44px;
  }
  .current__text-1 {
    font-size: 24px;
  }
}

@media(max-width: 795px) {
  .current__img--1 {
    width: 90px;
    height: 90px;
  }
  .current-1 {
    width: 190px;
  height: 175px;
  }
  .current-1--loading {
    width: 190px;
    height: 175px;
  }
  .current__temp,
  .current__precipitation--data {
    font-size: 34px;
  }
  .current__temp--text,
  .current__precipitation {
    font-size: 14px;
  }
  .current__text-1 {
    font-size: 20px;
  }
  .current__text-12 {
    font-size: 48px;
  }
}

@media(max-width: 660px) {
  .current-1 {
    width: 400px;
  height: 175px;
  margin-right: 0px;
  margin-bottom: 18px;
  }
  .current-1--loading {
    width: 400px;
    height: 175px;
    margin-right: 0px;
    margin-bottom: 18px;
  }
  .current__top,
  .current__middle {
    flex-direction: column;
  }

  .current__top {
    margin-bottom: 6px;
    margin-top: 12px;
  }

  .quality__more--module {
    height: unset !important;
  }
  .current__img--1 {
    width: 150px;
    height: 150px;
  }
  .current__temp,
  .current__precipitation--data {
    font-size: 64px;
  }
  .current__temp--text,
  .current__precipitation {
    font-size: 24px;
  }
  .current__text-1 {
    font-size: 28px;
  }
  .current__text-12 {
    font-size: 56px;
  }
}

/* 

QUALITY 

*/

.quality__more--module {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-radius: 18px;
background: linear-gradient(to bottom, #1e6fff 0%, #3388ff 50%, #66a8ff 100%);

  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  padding: 12px;
}

.quality__title {
  font-size: 26px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  height: 62px;
}

.quality__title__data {
  font-size: 48px;
  color: #fff;
  font-weight: 300;
}
.quality__interior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  background: linear-gradient(to bottom, #1452b8 0%, #1f6fd6 50%, #4b90ee 100%);
  border-radius: 12px;
  transition: all 300ms ease;
}

.quality__interior--loading {
  border-radius: 12px;
}

.quality__interior:hover {
  transform: scale(1.05);
}

.quality__interior:active {
  transform: scale(0.9);
}

.quality__more--top-1,
.quality__more--bottom-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quality__more--top-1 {
  margin-bottom: 24px;
}

.quality__interior {
  width: 215px;
  height: 200px;
}
.quality__interior--loading {
  width: 215px;
  height: 200px;
}

.quality__interior--loading:not(:last-child) {
  margin-right: 12px;
}

.margin-30 {
  margin-right: 12px;
}

@media(max-width: 1040px) {
  .quality__interior {
  width: 165px;
  height: 165px;
}
.quality__interior--loading {
  width: 165px;
  height: 165px;
}
.quality__title {
  font-size: 20px;
  height: 62px;
}
.quality__title__data {
  font-size: 32px;
}

}

@media(max-width: 795px) {
  .quality__interior {
  width: 140px;
  height: 165px;
}
.quality__interior--loading {
  width: 140px;
  height: 165px;
}
.quality__title {
  height: 72px;
}
}

@media(max-width: 660px) {
  .margin-30 {
    margin-right: 0px;
  }
  .quality__more--top-1,
  .quality__more--bottom-1 {
    flex-direction: column;
  }
  .quality__more--top-1 {
    margin-top: 12px;
  }

  .quality__more--bottom-1 {
    margin-bottom: 18px;
  }
  .quality__interior {
  width: 400px;
  height: 225px;
}
.quality__interior--loading {
  width: 400px;
  height: 225px;
}

.quality__interior--loading:not(:last-child) {
  margin-bottom: 18px;
}
.quality__interior:not(:last-child) {
  margin-bottom: 18px;
}
.quality__title {
  height: unset;
  font-size: 28px;
  margin-bottom: 18px;
}
.quality__title__data {
  font-size: 56px;
}
}

/* 

ASTRONOMY 

*/

.astro__next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.astro__next--title {
  color: orange;
  font-weight: 700;
  font-size: 36px;
}

.astro__next--time {
  color: #fff;
  font-size: 56px;
  font-weight: 400;
}

.astro__next--left {
  color: #fff;
  font-size: 28px;
}

.white {
  color: #fff;
}

.astro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.astro__riseset {
  width: 135px;
}

.astro__riseset--title {
  font-size: 32px;
}

.orange {
  color: orange;
}

.blue {
  color: rgb(127, 171, 233);
}

.astro__riseset--data {
  font-weight: 400;
  color: #fff;
}

.text-align {
  text-align: center;
}

@media(max-width: 1040px) {
  .astro__next--title {
    font-size: 32px;
  }
  .astro__next--time {
    font-size: 48px;
  }

  .astro__riseset {
    width: 90px;
  }
  .astro__riseset--title {
    font-size: 32px;
  }
  .astro__riseset--data {
    font-size: 28px;
  }

  .astro-1 {
    margin-left: -8px;
  }
}

@media(max-width: 795px) {
  .astro__next--title {
    font-size: 28px;
  }
  .astro__next--time {
    font-size: 36px;
  }
  .astro__riseset--title {
    font-size: 24px;
  }
  .astro__riseset--data {
    font-size: 22px;
  }
  .astro__riseset {
    width: 85px;
  }
}

@media(max-width: 660px) {
  .astro__next--title {
    font-size: 38px;
  }
  .astro__next--time {
    font-size: 48px;
  }
  .astro__riseset {
    width: 200px;
  }
  .astro__riseset--title {
    font-size: 42px;
  }
  .astro__riseset--data {
    font-size: 32px;
  }
}

/* 

FORECAST 

*/

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.shimmer-red {
  background: linear-gradient(
    100deg,
    #ff6666 30%,   /* mid-tone red */
    #ffc2c2 50%,   /* soft highlight */
    #ff6666 70%    /* mid-tone red again */
  );
  background-size: 200% 100%;
  animation: shimmer 1.4s infinite linear;
}

.shimmer-orange {
  background: linear-gradient(
    100deg,
    #ffb366 30%,
    #ffe6cc 50%,
    #ffb366 70%
  );
  background-size: 200% 100%;
  animation: shimmer 1.4s infinite linear;
}
.shimmer-blue {
  background: linear-gradient(
    100deg,
    #3388ff 30%,   /* mid-tone blue */
    #99cfff 50%,   /* lighter highlight */
    #3388ff 70%    /* mid-tone blue again */
  );
  background-size: 200% 100%;
  animation: shimmer 1.4s infinite linear;
}
.shimmer-blue2 {
  background: linear-gradient(
    100deg,
    #1f6fd6 30%,   /* mid-tone blue */
    #7fb8ff 50%,   /* lighter highlight */
    #1f6fd6 70%    /* mid-tone blue again */
  );
  background-size: 200% 100%;
  animation: shimmer 1.4s infinite linear;
}

.quality__more--module--2 {
  width: 100%;
  height: 500px;
  border-radius: 18px;
  /* background: linear-gradient(to bottom, #e68c1a 0%, #f5a333 50%, #ffd180 100%); */
  background: linear-gradient(to bottom, #ff9933 0%, #ffb366 50%, #ffe0b3 100%);
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
}

.quality__more--module--1 {
  width: 100%;
  height: 50px;
  border-radius: 18px;
  /* background: linear-gradient(to bottom, #e68c1a 0%, #f5a333 50%, #ffd180 100%); */
    background: linear-gradient(to bottom, #ff9933 0%, #ffb366 50%, #ffe0b3 100%);
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quality__more--module--1--loading {
  width: 100%;
  height: 50px;
  border-radius: 18px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(215, 215, 215, 0.474);
}

.forecast__dates {
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast__date-1 {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: all 300ms ease;
  }

.forecast__date-1--loading {
  width: 90px;
  height: 40px;
  border-radius: 12px;
}
.forecast__date-1--loading:not(:last-child) {
  margin-right: 36px;
}

.forecast__date-1.active {
  /* background: linear-gradient(to bottom, #e68c1a 0%, #f5a333 50%, #ffd180 100%); */
  background: linear-gradient(to bottom, #cc7415 0%, #e08c2a 50%, #f2b45f 100%);
  border-radius: 12px;
  padding: 4px 8px;
}

.forecast__date-1:not(:last-child) {
  margin-right: 36px;
}

.quality__more--module--2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quality__more--module-1 {
  width: 210px;
  height: 250px;
background: linear-gradient(to bottom, #e68c1a 0%, #f5a333 50%, #ffd180 100%);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.fdc {
  flex-direction: column !important;
}

.fdn {
  display: flex;
  flex-direction: row !important;
  margin-bottom: 24px;
}

.quality__more--module-1--loading {
  width: 210px;
  height: 250px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
}

.quality__more--module-1:hover {
  transform: scale(1.05);
}
.quality__more--module-1:active {
  transform: scale(0.9);
}

.quality__more--module-2 {
  width: 880px;
  height: 190px;
  background: linear-gradient(to bottom, #e68c1a 0%, #f5a333 50%, #ffd180 100%);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.quality__more--module-2--loading {
  width: 880px;
  height: 190px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
}

.quality__more--module-1:not(:last-child) {
  margin-right: 12px;
}

.quality__more--module-1--loading:not(:last-child) {
  margin-right: 12px;
}

.quality__more--module-top,
.quality__more--module-bottom {
  display: flex;
}

.quality__more--module-top {
  margin-bottom: 24px;
}

.forecast__humid2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast__humid2:not(:last-child) {
  margin-bottom: 8px;
}

.hourly__img {
  width: 60px;
}

.humid2__title {
  font-size: 22px;
}

.forecast__condition--h1 {
  color: #fff;
}

.less__bold {
  font-weight: 300;
}

.humid2__data {
  font-size: 36px;
  color: #fff;
  width: 45px;
}

.humid2__data2 {
  font-size: 36px;
  color: #fff;
  width: 94px;
}

.forecast__humid2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast__humid2 img {
  width: 100px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  border-radius: 50%;
  margin-right: 4px;
}

.quality__more--container22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.quality__more--container22 h1{
  color: #fff;
}

.forecast__condition--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.forecast__hourly {
  display: flex;
  flex: 0 0 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #cc7415 0%, #e08c2a 50%, #f2b45f 100%);
  border-radius: 18px;
  width: 400px !important;
  transition: all 300ms ease;
}

.forecast__hourly--loading {
  display: flex;
  flex: 0 0 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  width: 400px !important;
}

.forecast__hourly:hover {
  transform: scale(1.05);
}

.forecast__hourly:active {
  transform: scale(0.9);
}

.forecast__hourly:not(:last-child) {
  margin-right: 22px;
}

.forecast__hourly--container {
    max-height: 800px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  padding: 4px 12px;
  scrollbar-width: none;
}

.forecast__hourly--container::-webkit-scrollbar {
  display: none;
}

.forecast__hourly--data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast__hourly--title {
  font-size: 38px;
  color: #fff;
}

.forecast__hourly--data h1 {
  font-size: 22px;
  color: #fff;
  font-weight: 300;
}

@media (max-width: 1040px) {
  .forecast__dates {
    padding: 0px 18px;
  }
  .forecast__date-1 {
    font-size: 18px;
  }
  .quality__more--module-1 {
    width: 165px;
  }
  .quality__more--module-1--loading {
    width: 165px;
  }
  .quality__more--module-2 {
    width: 700px;
  }
  .quality__more--module-2--loading {
    width: 700px;
  }
  .forecast__date-1--loading {
  width: 70px;
  height: 40px;
}
.quality__more--module-1 img {
  width: 125px;
}
.forecast__humid2 img {
  width: 60px;
}
}

@media (max-width: 795px) {
  .quality__more--module-1 {
    width: 140px;
  }
  .quality__more--module-1--loading {
    width: 140px;
  }
  .quality__more--module-2 {
    width: 600px;
  }
  .quality__more--module-2--loading {
    width: 600px;
  }
  .forecast__date-1--loading {
  width: 60px;
  height: 30px;
}
.quality__more--container22 h1{
  font-size: 24px;
}
.humid2__data2 {
  font-size: 24px;
  width: unset;
}
}

@media (max-width: 660px) {
  .forecast__date-1:not(:last-child) {
  margin-right: 18px;
}
.quality__more--module-1 img {
  width: 140px;
}
.quality__more--container22 {
  margin-bottom: 8px;
}
.quality__more--container22 h1{
  font-size: 36px;
}
.forecast__humid2 img {
  width: 100px;
}
.forecast__date-1 {
    font-size: 16px;
  }

  .quality__more--module--2 {
    height: 100%;
  }

  .humid2__data2 {
    font-size: 36px;
  }

.quality__more--module-1 {
  width: 400px;
  height: 225px;
}
.quality__more--module-1--loading {
  width: 400px;
  height: 225px;
}
  .quality__more--module-1:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 18px;
}
.quality__more--module-1:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 18px;
}

.quality__more--module-top {
  margin-top: 24px;
  flex-direction: column;
}
.quality__more--module-2 {
    width: 400px;
    margin-bottom: 24px;
  }
.quality__more--module-2--loading {
  width: 400px;
  margin-bottom: 24px;
}
.forecast__date-1--loading {
  width: 45px;
  height: 30px;
}
.fdn {
  flex-direction: column !important;
}
.quality__more--module-1--loading:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 24px;
}
}
